<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@post) do |f| %>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  <br />
  <%= f.label :content %><br />
  <%= f.text_area :content %>
  <br />
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <br />
  <%= f.select :date, (@first_year..@end_year) %>
  <%#= f.select :price, (1..12), {}, {:onchange => 'test(value)' } %> 
  <%= f.select :price, (1..12)} %> 
  <%= f.select :day, (@first_day..@end_day) %>
  <%#= render 'select_month', { :f => f }  %>
  <%= submit_tag 'entry' %>
<% end %>

<%# <script>
#  function test(value){
#    <#%= Date.new(2013, 2, -1).day alert(value)};



<%# </script> %>
